{% extends 'base.html' %}

{% block content %}

{% comment %} {% include 'message.html' %} {% endcomment %}

<section class="register">
    <div class="register-container">
        <h1 style="text-align: center;">Register</h1>
        <form action="{% url 'register' %}" class="register-form" method="post">
            {% csrf_token %}
            <label for="username">Userame</label>
            <input type="text" id="username" name="username" placeholder="Your username...">

            <label for="email">Email</label>
            <input type="text" id="email" name="email" placeholder="Your email...">

            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Your password...">

            <label for="cpassword">Confirm Password</label>
            <input type="password" id="cpassword" name="cpassword" placeholder="Your confirm password...">

            <input type="submit" value="Submit">
        </form>
        <p style="text-align: center;">
            <a href="{% url 'login' %}">
                Existing User? Login
            </a>
        </p>
    </div>
</section>

{% endblock content %}