{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/favicon_io/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/favicon_io/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/favicon_io/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'assets/favicon_io/site.webmanifest' %}">
    <title>Mobify</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://kit.fontawesome.com/f5fa803926.js" crossorigin="anonymous"></script>
</head>

<body class="">

    {% include 'navbar.html' %}

    {% block content %}
    {% endblock content %}

    {% include 'footer.html' %}

    {% include 'message.html' %}

    {% block scripts %}
    {% endblock scripts %}
   

</body>

</html>